{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row">
            <div class="tile_count w-100 text-center">
                <div class="col-md-4 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Mijozlar</span>
                    <div class="count">{{ number_clients }}</div>
                </div>
                <div class="col-md-4 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Eltuvchiar</span>
                    <div class="count">{{ number_deliverer }}</div>
                </div>
                <div class="col-md-4 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Buyurtmalar</span>
                    <div class="count green">{{ number_orders }}</div>
                </div>
            </div>
            {% for s in status %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 pt-2 text-center text-white bg-success">
                                    <i class="fa fa-shopping-cart fa-3x text-center" aria-hidden="true"></i>
                                </div>
                                <div class="p-2 media-body">
                                    <a href="/order-list/{{ s.id }}">
                                    <h5>{{ s.name }}</h5>
                                    <h5 class="text-bold-400 mb-0">{{ s.number_orders }}</h5>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /top tiles -->
    </div>
    </div>
    </div>


{% endblock %}